{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Profil {% endblock %}

{% block body %}
	<div>
		<h1>Mon Profil</h1>
		<hr>
		{{ form_start(form) }}
		{{ form_errors(form) }}
		{{ form_row(form.campus) }}
		{{ form_row(form.pseudo) }}
		{{ form_row(form.prenom) }}
		{{ form_row(form.nom) }}
		{{ form_row(form.telephone) }}
		{{ form_row(form.email) }}
		{{ form_row(form.plainPassword) }}
		<button class="btn btn-primary">Enregistrer</button>
		{{ form_end(form) }}
	</div>

{% endblock %}