{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}



{% block body %}
<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-md-8">
			<div class="card shadow form-background">
				<div class="card-header text-center">
					<h2>Créer une sortie</h2>
				</div>
				<div class="card-body">
					{{ form_start(form) }}
					<div class="row g-3">
						<div class="col-md-6">
							{{ form_row(form.nom) }}
						</div>
						<div class="col-md-6">
							{{ form_row(form.siteOrganisateur) }}
						</div>
						<div class="col-md-6">
							{{ form_row(form.dateHeureDebut) }}
						</div>
						<div class="col-md-6">
							<label for="ville" class="form-label">Ville dans laquelle se déroulera la sortie</label>
							<select name="ville" id="ville" class="form-select">
								{% for ville in villes %}
									<option value="{{ ville.nom }}">{{ ville.nom }}</option>
								{% endfor %}
							</select>
						</div>
						<div class="col-md-6">
							{{ form_row(form.dateLimiteInscription) }}
						</div>
						<div class="col-md-6">
							{{ form_row(form.lieu) }}
						</div>
						<div class="col-md-6">
							{{ form_row(form.nbInscriptionMax) }}
						</div>
						<div class="col-md-6">
							<label class="form-label">Rue</label>
							<div id="lieu_rue" class="form-control-plaintext"></div>
						</div>
						<div class="col-md-6">
							{{ form_row(form.duree) }}
						</div>
						<div class="col-md-6">
							<label class="form-label">Latitude / Longitude</label>
							<div id="lieu_latitude_longitude" class="form-control-plaintext"></div>
						</div>
						<div class="col-12">
							{{ form_row(form.infosSortie) }}
						</div>
						<div class="col-12">
							{{ form_row(form.image) }}
						</div>
					</div>
					<div class="mt-4 d-flex flex-wrap gap-2 justify-content-center">
						{{ form_row(form.enregistrer) }}
						{{ form_row(form.publier) }}
						<a href="{{ path('main_home') }}" class="btn btn-light w-100">
							Retour à la liste
						</a>
					</div>
					{{ form_end(form) }}
				</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		//TODO: remplacer par une utilisation d'api de lieu
		const lieu = document.getElementById('sortie_form_lieu');

		const lieuxRues = {};

		const lieuxLatitudeLongitude = {};

		{% for lieu in lieux %}
			lieuxRues['{{ lieu.id }}'] = '{{ lieu.rue }}';
			lieuxLatitudeLongitude['{{ lieu.id }}'] = '{{ lieu.latitude }} / {{ lieu.longitude }}';
		{% endfor %}

		document.getElementById('lieu_rue').innerText = lieuxRues[lieu.value];
		document.getElementById('lieu_latitude_longitude').innerText = lieuxLatitudeLongitude[lieu.value];

		lieu.addEventListener('change', function(){
			document.getElementById('lieu_rue').innerText = lieuxRues[this.value];
			document.getElementById('lieu_latitude_longitude').innerText = lieuxLatitudeLongitude[this.value];
		})

		let ville = document.getElementById('ville');
		let options = lieu.children;

		ville.addEventListener('change', function () {
			for (let i = 0; i < options.length; i++) {
				if (options[i].innerText.includes(this.value)) {
					options[i].style.display = "block"
				} else {
					options[i].style.display = "none"
				}
			}
		})

	</script>


{% endblock %}

{% block title %}
Créer une sortie | Sortir.com
{% endblock %}

