<h1>Détails de la sortie</h1>

<p><strong>Nom :</strong> {{ sortie.nom }}</p>
<p><strong>Date :</strong> {{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</p>
<p><strong>Organisateur :</strong> {{ sortie.organisateur.pseudo }}</p>
<p><strong>Lieu :</strong> {{ sortie.lieu.nom }}</p>
<p><strong>Description :</strong> {{ sortie.infosSortie }}</p>

<a href="{{ path('main_home') }}" class="btn btn-secondary mt-3">Retour</a>
