{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}


{% block title %}
	Modifier une sortie | {{ parent() }}
{% endblock %}

{% block body %}
	<h1>Créer une sortie</h1>
	{{ form_start(form) }}
	<ul class="container">
		<li class="row">
			<div class="col-6">{{ form_row(form.nom) }} </div>
			<div class="col-6">{{ form_row(form.siteOrganisateur) }}</div>
		</li>
		<li class="row">
			<div class="col-6">{{ form_row(form.dateHeureDebut) }} </div>
			<div class="col-6">{{ form_row(form.lieu) }}</div>
		</li>
		<li class="row">
			<div class="col-6">{{ form_row(form.dateLimiteInscription) }} </div>
			<div class="col-6">Rue {{ sortie.lieu.rue }}</div>
		</li>
		<li class="row">
			<div class="col-6">{{ form_row(form.nbInscriptionMax) }} </div>
			<div class="col-6">Code postal {{ sortie.lieu.ville.codePostal }}</div>
		</li>
		<li class="row">
			<div class="col-6">{{ form_row(form.duree) }} </div>
			<div class="col-6">Latitude / Longitude {{ sortie.lieu.latitude }} / {{ sortie.lieu.longitude }}</div>
		</li>
		<li>
			<div class="col-12">{{ form_row(form.infosSortie) }}</div>
		</li>
	</ul>
	<div>
		{{ form_row(form.enregistrer) }}
		{{ form_row(form.publier) }}
		<a href="{{ path('sortie_supprimer', {id:sortie.id, token: csrf_token('supprimer-sortie-'~sortie.id)}) }}" class="btn btn-danger">Supprimer</a>
		<a href="{{ path('main_home') }}" class="btn btn-primary">Retour à la liste</a>
	</div>

	{{ form_end(form) }}
{% endblock %}

