<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top w-100">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="{{ path('main_home') }}">
            <img src="{{ asset('img/sortirLogo.png') }}" alt="LogoSortir" width="60" height="60" class="d-inline-block align-top mr-2">
            <span class="h3 mb-2 ms-2">ENI | SORTIR.COM !</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('main_home') }}">Accueil</a>
                </li>
                {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('profil_modifier') }}">Mon Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('profil_modifier') }}">Se déconnecter</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
